body {
  background-color: rgba(240,240,240,1);
  color: rgba(20,20,20,1);
}

#react {
  min-height: 400px;
}

.login-button {
  border-radius: 2px;
  padding: 8px 14px 8px 14px;
  color: rgba(40,40,40,1);
  background-color: rgba(140,200,150,1);
  border: 1px solid rgba(100,180,110,1);
  border-bottom: 3px solid rgba(100,180,110,1);
}

.login-button.switch {
  margin: 12px;
  width: 112px;
}

.login-button:hover {
  background-color: rgba(120,190,140,1);
  border-color: rgba(20,60,30,1);
}

.basic-info {
  border: 1px solid rgba(40,40,40,1);
  border-radius: 4px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.basic-info-header {
  border-bottom: 4px solid rgba(40,40,40,1);
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(74,74,74,1);
  color: rgba(250,250,250,1);
}

.basic-info-body {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(250,250,250,1);
}

.info-table {
  padding: -1px;
  border-radius: 4px;
  border: 1px solid rgba(100,100,100,1);
}

.portal {
  border: 1px solid rgba(120,120,120,1);
  border-radius: 4px;
  padding: 0px;
  padding-bottom: 16px;
  margin-top: 88px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 4px rgba(0,0,0,.7);
}

.portal-header {
  background-color: rgba(200,200,200,1);
  color: rgba(10,10,10,1);
  margin: 0px;
}

.upload-row {
  margin-top: 24px;
}

.form-upload {
  margin-top: 16px;
}

.file-upload {
  cursor: pointer;
  padding: 8px;
  border: 1px solid rgba(200,200,200,1);
  border-radius: 2px;
  font-size: 16px;
  width: 180px;
  height:40px;
  text-align: center;
}

input[type="file"] {
    display: none;
}

.hidden {
  display: none;
}

.navvy {
  border-radius: 0px;
  margin-bottom: 0px;
}

.login-row {
  padding: 4px 12px 12px 12px;
  border: 1px solid rgba(40,40,40,1);
  border-bottom: 3px solid;
  /*box-shadow: 0px 0px 4px rgba(40,40,40,.5);*/
  border-radius: 4px;
  margin-right: 8px;
  background-color: rgba(254,254,254,1);
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  left: -16px;
}

.Doctors {
  color: rgba(120,160,200,1);
}
.Patients {
  color: rgba(120,200,140,1);
}

.login-header {
  padding-bottom: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(100,100,100,.75);
}

.metric-col {
  margin-right: 72px;
}

.metric-header {
  color: rgba(60,60,60,1);
}

.axis {
  font: 10px sans-serif;
  fill: rgba(140,140,140,1);
}
.axis path,
.axis line {
  fill: none;
  stroke: rgba(120,120,120,1);
  shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: rgba(200,150,100,1);
}

.axis .minor line {
  stroke: rgba(120,120,120,1);
  stroke-dasharray: 2,2;
}

.axis--x path {
  display: none;
}
.line {
  fill: none;
  stroke: hsla(200,60%,40%,.75);
  stroke-width: 1.5px;
}
